<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Team Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ css_version }}">
</head>

<body>
    <h1>Football Club Team Generator</h1>
    <div class="container">
        <div class="section">
            <div class="config-section">
                <label for="sheet-url">Google Sheet URL:</label>
                <input type="text" id="sheet-url" placeholder="Enter your Google Sheets share URL">
                <button id="connect-data" disabled>Connect File</button>
            </div>
            <div id="team-name-config-section" class="config-section" style="display: none;">
                <label for="team1-name">Team 1 Name:</label>
                <input type="text" id="team1-name" value="White">
                <label for="team2-name" style="margin-left: 20px;">Team 2 Name:</label>
                <input type="text" id="team2-name" value="Orange">
                <button id="generate-teams">Generate Teams</button>
            </div>
        </div>

        <div class="section team-generation-section" id="team-generation-section">
            <div id="teams-container">
                <div id="team-a" class="team-column" style="margin-left: 0;">
                    <h3>Team A</h3>
                    <div id="team-a-players" class="team-players"></div>
                </div>
                <div id="attending-players" class="attending-list">
                    <h4>Attending Players</h4>
                    <div class="attending-players"></div>
                </div>
                <div id="team-b" class="team-column" style="margin-right: 0;">
                    <h3>Team B</h3>
                    <div id="team-b-players" class="team-players"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}?v={{ js_version }}"></script>
</body>

</html>